// Colors.
$blue: #1b84db;
$black: #000;
$white: #fff;
$grey: #8c9399;
$red: #fb5330;

// z-indices.
$z-top: 503;
$z-header: 100;

// Breakpoints
$breakpoint-large: 1920px;
$breakpoint-std: 1366px;
$breakpoint-normal: 1280px;
$breakpoint-small: 768px;
$xlg:1440px;
$lg:1200px;
$xm:1024px;
$md:992px;
$sm:767px;
$asm:640px;
$axs:635px;
$axsm:540px;
$xs:480px;
$xxs:420px;
$usm:320px;

// Padding Indents
$indent-xxlg : 120px;
$indent-xlg: 100px;
$indent-xxl: 60px;
$indent-50: 50px;
$indent-xl: 30px;
$indent-l: 25px;
$indent-m: 20px;
$indent: 15px;
$indent-sm: 10px;
$indent-xs: 5px;

// Fonts
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-size-xs: $font-size-base * .75;

// Font Sizes
$font-size-8: 0.5rem; // 8px
$font-size-10: 0.625rem; // 10px
$font-size-11: 11px; // 11px
$font-size-12: 0.75rem; // 12px
$font-size-13: 0.8125rem; // 13px
$font-size-14: 0.875rem; // 14px
$font-size-15: 0.9375rem; // 15px
$font-size-16: 1rem; // 16px
$font-size-17: 1.0625rem; // 17px
$font-size-17-1: 1.1rem; // 17px
$font-size-18: 1.125rem; // 18px
$font-size-20: 1.25rem; // 20px
$font-size-22: 1.375rem; // 22px
$font-size-24: 1.50rem; // 24px
$font-size-26: 1.625rem; // 26px
$font-size-28: 1.75rem; // 28px
$font-size-30: 1.875rem; // 30px
$font-size-32: 2rem; // 32px
$font-size-34: 2.125rem; // 34px
$font-size-35: 35px;
$font-size-36: 2.25rem; // 36px
$font-size-38: 2.375rem; // 38px
$font-size-40: 2.5rem; // 40px
$font-size-42: 2.625rem; // 42px
$font-size-44: 2.75rem; // 44px
$font-size-46: 2.875rem; // 46px
$font-size-48: 3rem; // 48px
$font-size-50: 3.125rem; // 50px
$font-size-52: 3.25rem; // 52px
$font-size-54: 3.375rem; // 54px
$font-size-56: 3.5rem; // 56px
$font-size-60: 3.875rem; // 60px
